body {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
    background-color: #FAFBF1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #212121;
    margin: auto 0;
}

nav {
    margin: auto 80px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "home workResume contact";
    align-items: flex-end;
    justify-content: flex-end;
}

.home {
    border-bottom: solid 1px #212121;
    padding-bottom: 20px;
    margin-right: 20px;
}

.home img {
    min-width: 50%;
    max-width: 300px;
}

.home a {
    grid-area: home;
}

.workResume {
    grid-area: workResume;
    display: flex inline;
    margin-left: 100px;
    margin-right: 0px;
    border-bottom: solid 1px #212121;
    padding-bottom: 20px;
}

.workResume a {
    margin-right: 72px;
}

.contact {
    grid-area: contact;
    text-align: right;
    border-bottom: solid 1px #212121;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #212121;
}

#intro {
    margin: auto 80px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "laurenPhoto aboutText aboutText";
}

#laurenPhoto {
    grid-area: laurenPhoto;
}

#laurenPhoto img {
    width: 95%;
    margin-top: 40px;
}

#aboutText {
    grid-area: aboutText;
}

#aboutText h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 100%;
    margin-left: 100px;
}

#aboutText p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 100px;
    }

p {
font-family: 'Roboto', sans-serif;
font-size: 16px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #212121;
    color:#FAFBF1;
    border: none;
    padding: 20px 30px 20px 30px;
    margin-right: 0px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#work {
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 300px;
}

.sectionDivider {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: left;
    border-bottom: solid 1px #212121;
}

.caseStudies123 {
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card {
margin-left: 80px;
margin-right: 20px;
}

.card img {
    width: 420px;
    height: auto;
}

.cardText {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.card h2 {
    grid-area: cardHeadline;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.card p {
    grid-area: cardCopy;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer {
    margin-bottom: 100px;
}